body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: darkslategrey;
    font-size: 3rem;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    padding: 3px;
    text-align: center;
}

.ttr {
    color: #e0f6ef;
    background-color: #6ab099;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; 
}

img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    border: 3px solid darkslategrey;
    box-sizing: border-box;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}